.calculator {
    background-color: #ddd;
    width: 350px;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0 0 3pt 0 rgba(0, 0, 0, 0.8);
    /* grid-column: 1; */
  }
  
  .calculator > h3 {
    text-align: center;
    padding: 0;
    margin: 0 0 1em 0;
  }

  form { height: 280px }
  
  form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .8em;
  }
  
  /* form label input {
    margin-left: 1em;
    max-width: 8em;
  } */
  
  form label select {
    /* margin-left: 7em; */
    /* flex-grow: 2; */
  }
  
  button {
    float: right;
  }

  .is-invalid {
      outline: 0;
      /* box-sizing: border-box; */
      border-radius: 2px;
      box-shadow: 0 0 2pt 1pt red;
  }

  .results {
    margin-top: 1em;
  }

  .results > div {
    display: flex;
    justify-content: space-between;
  }

  .results > div > p {
    margin: 0 .5em;
  }