<div class="calculator">
  <h3> {{ title }}</h3>
  <div>
    <form #calculatorForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- {{ calculatorForm.value | json }} -->
      <label for="total-bill">
        Total Bill
        <input 
          #initialBill="ngModel" 
          class="input-bill"
          [(ngModel)]="formModel.billTotal"
          [class.is-invalid]="initialBill.invalid && initialBill.touched || initialBill.value == 0" 
          required 
          type="number" 
          name="total-bill"
          placeholder="Total Bill" 
          min="1" 
          pattern="^[0-9]+(\.[0-9]{1,2})?$"
          >
          <!-- pattern="^[0-9]+(\.[0-9]{1,2})?$" -->
      </label>
      <!-- Multiple Validation Rules -->
      <div *ngIf="initialBill.errors && (initialBill.invalid && initialBill.touched)">
        <small *ngIf="initialBill.errors.required">Total bill amount is required</small>
        <small *ngIf="initialBill.errors.pattern">Total bill amount should not exceed 2 decimal places</small>
      </div>

      <label for="tip-selector">
        Tip Percentage
        <!-- [class.is-invalid]="initialBill.invalid && initialBill.touched" -->
        <select 
          #tip="ngModel" 
          [(ngModel)]="formModel.selectedTip" 
          (blur)="validateTip(tip.value)"
          (change)="validateTip(tip.value)" 
          required name="tip-selector" id=""
          [class.is-invalid]="tipHasError && tip.touched">
          <!-- <option value="" selected>Default</option> -->
          <option value="default">Select</option>
          <option *ngFor="let tip of tipDropDown" value="{{tip}}">{{tip}}%</option>
        </select>
      </label>
      <small *ngIf="tipHasError && tip.touched">Tip percentage is required</small>

      <label for="party-size">
        Party Size
        <input 
          #partySize="ngModel"
          [(ngModel)]="formModel.partySize" 
          type="number" 
          class="input-party"
          min="0" 
          name="party-size" 
          placeholder="Max. 20 People">
      </label>

      <button type="submit" [disabled]="calculatorForm.form.invalid || tipHasError || initialBill.value == 0">Calculate</button>
    </form>
  </div>
  <div *ngIf="formSubmitted" class="results">
    <div>
      <p>Tip:</p>
      <p>{{calcTip | currency:" "}}</p>
    </div>
    <hr>
    <div>
      <p>Total:</p>
      <p>{{calculatedBill | currency}}</p>
    </div>
  </div>
</div>
