<div class="calculator">
      <h3> {{ title }}</h3>
      <div>
        <form action="" #calculatorForm="ngForm">
            <!-- {{ calculatorForm.value | json }} -->
          <label for="total-bill">
            Total Bill
            <input #initialBill="ngModel" 
                   [(ngModel)]="formModel.billTotal" 
                   [class.is-invalid]="initialBill.invalid && initialBill.touched" 
                   required 
                   type="number" 
                   name="total-bill" 
                   placeholder="Total Bill">
          </label>

          <label for="tip-selector">
            Tip Percentage
            <!-- [class.is-invalid]="initialBill.invalid && initialBill.touched" -->
            <select #tip="ngModel"
                    [(ngModel)]="formModel.selectedTip"
                    required name="tip-selector" id="">
                    <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="18">18%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
            </select>
          </label>

          <label for="party-size">
            Party Size
            <input [(ngModel)]="formModel.partySize" type="number" name="party-size" id="" placeholder="Max. 20 People">
          </label>

          <button type="submit" (click)="action()">Calculate Tip</button>
        </form>
      </div>
</div>
